body {
    
    background-color: #fdbf5c;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fc354c;    text-align: center;
    font-size: 4em;
}

